<template>
  <div>
    <HeaderComponent />
    <main>
      <router-view />
    </main>
  </div>
</template>

<script setup>
import HeaderComponent from '@/components/HeaderComponent/HeaderComponent.vue'
</script>
