<template>
  <div>
    <header>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
        <ul v-if="!getUserPending && getUser" class="navbar-nav">
          <li class="nav-item me-3">
            <router-link to="/" class="btn btn-primary">Home</router-link>
          </li>
          <li class="nav-item me-3">
            <router-link to="/profile" class="btn btn-primary">My profile</router-link>
          </li>
          <li class="nav-item">
            <button @click.prevent="logOut" type="button" class="btn btn-warning">Logout</button>
          </li>
        </ul>
        <ul v-else class="navbar-nav">
          <li class="nav-item me-3">
            <router-link to="/" class="btn btn-primary">Home</router-link>
          </li>
          <li class="nav-item me-3">
            <router-link to="/login" class="btn btn-success">Login</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/register" class="btn btn-success">Register</router-link>
          </li>
        </ul>
      </nav>
    </header>
    <h1 class="mt-5 text-center" v-if="getUserPending">
      App is loading...
    </h1>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'HeaderComponent',
  methods: {
    logOut () {
      this.$store.dispatch('logOut')
    }
  },
  computed: {
    ...mapGetters([
      'getUserPending',
      'getUser'
    ])
  }
}
</script>

<style lang="scss" scoped>
  @import "./HeaderComponent.scss";
</style>
