<template>
  <div class="container pt-5">
    <div class="sector">
      <form :class="getPending ? 'disabled-element' : ''" class="form" @submit.prevent="register">
        <h2 class="form__title">Register form</h2>
        <div>
          <p v-if="registerForm.localError" class="form__error mb-2">
            {{ registerForm.localError }}
          </p>
        </div>
        <div>
          <p v-if="getError" class="form__error mb-2"> {{ getError }} </p>
        </div>
        <div class="form__element">
          <label for="registerName" class="form__label">Name</label>
          <input
            id="registerName"
            class="form__input form-control"
            type="text"
            placeholder="Enter your name"
            v-model.trim="registerForm.registerName"
            @blur="v$.registerForm.registerName.$touch()"
            :class=" [{'input-error' : v$.registerForm.registerName.$error }, getPending ? 'disabled-element' : '' ]"
            autocomplete="off"
            :disabled="getPending"
          />
          <div v-if="v$.registerForm.registerName.$error">
            <p v-if="v$.registerForm.registerName.required.$invalid" class="form__error">Name is required</p>
            <p v-else-if="v$.registerForm.registerName.maxLength.$invalid" class="form__error">Name is limited to 250 characters</p>
          </div>
        </div>
        <div class="form__element">
          <label for="registerEmail" class="form__label">Email address</label>
          <input
            id="registerEmail"
            class="form__input form-control"
            type="email"
            placeholder="Enter email address"
            v-model.trim="registerForm.registerEmail"
            @blur="v$.registerForm.registerEmail.$touch()"
            :class=" [{'input-error' : v$.registerForm.registerEmail.$error }, getPending ? 'disabled-element' : '' ]"
            autocomplete="off"
            :disabled="getPending"
          />
          <div v-if="v$.registerForm.registerEmail.$error">
            <p v-if="v$.registerForm.registerEmail.required.$invalid" class="form__error">Email address is required</p>
            <p v-else-if="v$.registerForm.registerEmail.email.$invalid" class="form__error">Email address is invalid</p>
            <p v-else-if="v$.registerForm.registerEmail.maxLength.$invalid" class="form__error">Email address is limited to 250 characters</p>
          </div>
        </div>
        <div class="form__element">
          <label for="registerPassword" class="form__label">Password</label>
          <input
            id="registerPassword"
            class="form__input form-control"
            type="password"
            placeholder="Enter password"
            v-model.trim="registerForm.registerPassword"
            @blur="v$.registerForm.registerPassword.$touch()"
            :class=" [{'input-error' : v$.registerForm.registerPassword.$error }, getPending ? 'disabled-element' : '' ]"
            autocomplete="off"
            :disabled="getPending"
          />
          <div v-if="v$.registerForm.registerPassword.$error">
            <p v-if="v$.registerForm.registerPassword.required.$invalid" class="form__error">Password is required</p>
            <p v-else-if="v$.registerForm.registerPassword.minLength.$invalid" class="form__error">Passwords should be a minimum of 8 characters in length</p>
            <p v-else-if="v$.registerForm.registerPassword.maxLength.$invalid" class="form__error">Password is limited to 250 characters</p>
          </div>
        </div>
        <div class="form__element">
          <label for="confirmRegisterPassword" class="form__label"
            >Confirm password</label
          >
          <input
            id="confirmRegisterPassword"
            class="form__input form-control"
            type="password"
            placeholder="Enter password again"
            v-model.trim="registerForm.confirmRegisterPassword"
            @blur="v$.registerForm.confirmRegisterPassword.$touch()"
            :class=" [{'input-error' : v$.registerForm.confirmRegisterPassword.$error }, getPending ? 'disabled-element' : '' ]"
            autocomplete="off"
            :disabled="getPending"
          />
          <div v-if="v$.registerForm.confirmRegisterPassword.$error">
            <p v-if="v$.registerForm.confirmRegisterPassword.required.$invalid" class="form__error mr-1">Password is required</p>
            <p v-else-if="v$.registerForm.confirmRegisterPassword.confirmPassword.$invalid" class="form__error">Given passwords do not match</p>
          </div>
        </div>
        <button :disabled="getPending" class="btn form__submit" type="submit">Register</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import useVuelidate from '@vuelidate/core'
import { required, email, minLength, maxLength, sameAs } from '@vuelidate/validators'
export default {
  name: 'RegisterPage',
  setup () {
    return { v$: useVuelidate() }
  },
  data: () => {
    return {
      registerForm: {
        registerName: '',
        registerEmail: '',
        registerPassword: '',
        confirmRegisterPassword: '',
        localError: null
      }
    }
  },
  validations () {
    return {
      registerForm: {
        registerName: {
          required,
          maxLength: maxLength(250)
        },
        registerEmail: {
          required,
          email: email,
          maxLength: maxLength(250)
        },
        registerPassword: {
          required,
          minLength: minLength(8),
          maxLength: maxLength(250)
        },
        confirmRegisterPassword: {
          required,
          confirmPassword: sameAs(this.registerForm.registerPassword)
        }
      }
    }
  },
  methods: {
    register () {
      this.$store.dispatch('clearError')
      this.v$.registerForm.$validate()
      if (!this.v$.registerForm.$invalid) {
        this.$store.dispatch('register', { name: this.registerForm.registerName, email: this.registerForm.registerEmail, password: this.registerForm.registerPassword })
          .then(() => {
            this.registerForm.localError = null
          })
          .catch(() => {
            this.registerForm.localError = 'An error occurred, please try again later'
          })
      } else {
        this.registerForm.localError = 'Form validation failed'
      }
    }
  },
  computed: {
    ...mapGetters([
      'getError',
      'getPending'
    ])
  },
  beforeCreate () {
    this.$store.dispatch('clearError')
  }
}
</script>
