<template>
  <div v-if="!getTaskFormFeedback" class="sector sector--wide">
    <form v-if="!getTaskPending && getTask" class="form" :class="getTaskFormPending ? 'disabled-element' : ''" @submit.prevent="updateTask">
      <h1 class="mb-4 text-center">Edit task</h1>
      <div>
        <p v-if="taskForm.localError" class="form__error mb-2">
          {{ taskForm.localError }}
        </p>
      </div>
      <div>
        <p v-if="getTaskFormError" class="form__error mb-2"> {{ getTaskFormError }} </p>
      </div>
      <div class="form__element">
        <p for="taskName" class="form__label">Task _id</p>
        <span class="badge bg-light text-dark">{{getTask._id}}</span>
      </div>
      <div class="form__element">
        <label for="taskName" class="form__label">Task name</label>
        <input
          id="taskName"
          class="form__input form-control"
          type="text"
          placeholder="Enter task name"
          v-model.trim="taskForm.taskName"
          @blur="v$.taskForm.taskName.$touch()"
          :class=" [{'input-error' : v$.taskForm.taskName.$error }, getTaskFormPending ? 'disabled-element' : '' ]"
          autocomplete="off"
          :disabled="getTaskFormPending"
        />
        <div class="text-start" v-if="v$.taskForm.taskName.$error">
          <p v-if="v$.taskForm.taskName.required.$invalid" class="form__error">Task name is required</p>
          <p v-else-if="v$.taskForm.taskName.maxLength.$invalid" class="form__error">Name is limited to 250 characters</p>
        </div>
      </div>
      <div class="form__element">
        <label for="taskDescription" class="form__label">Task description</label>
        <textarea
          id="taskDescription"
          class="form__input form__input--textarea form-control"
          type="text"
          placeholder="Enter task description"
          v-model.trim="taskForm.taskDescription"
          @blur="v$.taskForm.taskDescription.$touch()"
          :class=" [{'input-error' : v$.taskForm.taskDescription.$error }, getTaskFormPending ? 'disabled-element' : '' ]"
          autocomplete="off"
          :disabled="getTaskFormPending"
        />
        <div class="text-start" v-if="v$.taskForm.taskDescription.$error">
          <p v-if="v$.taskForm.taskDescription.required.$invalid" class="form__error">Task description is required</p>
          <p v-else-if="v$.taskForm.taskDescription.maxLength.$invalid" class="form__error">Name is limited to 3000 characters</p>
        </div>
      </div>
      <button :disabled="getTaskFormPending" class="btn form__submit" type="submit">Submit</button>
    </form>
  </div>
  <div v-else class="sector sector--wide">
    <div>
      <h2 class="form__title">Task has been successfully updated</h2>
      <div class="text-center mt-4">
        <router-link to="/" class="btn btn-success">Back to home page</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import useVuelidate from '@vuelidate/core'
import { required, maxLength } from '@vuelidate/validators'
export default {
  name: 'EditTaskPage',
  setup () {
    return { v$: useVuelidate() }
  },
  data: () => {
    return {
      taskForm: {
        taskName: '',
        taskDescription: '',
        localError: null
      }
    }
  },
  validations () {
    return {
      taskForm: {
        taskName: {
          required,
          maxLength: maxLength(250)
        },
        taskDescription: {
          required,
          maxLength: maxLength(3000)
        }
      }
    }
  },
  methods: {
    updateTask () {
      this.$store.dispatch('clearTaskFormError')
      this.v$.taskForm.$validate()
      if (!this.v$.taskForm.$invalid) {
        this.$store.dispatch('updateTask', { taskId: this.getTask._id, name: this.taskForm.taskName, description: this.taskForm.taskDescription })
          .then(() => {
            this.taskForm.localError = null
          })
          .catch(() => {
            this.taskForm.localError = 'An error occurred, please try again later'
          })
      } else {
        this.taskForm.localError = 'Form validation failed'
      }
    },
    resetForm () {
      this.taskForm.taskName = ''
      this.taskForm.taskDescription = ''
      this.v$.taskForm.$reset()
      this.$store.dispatch('clearTaskFormFeedback')
    }
  },
  mounted () {
    const task = this.getTask
    if (task) {
      this.taskForm.taskName = task.name
      this.taskForm.taskDescription = task.description
    }
  },
  computed: {
    ...mapGetters([
      'getTask',
      'getTaskPending',
      'getTaskFormError',
      'getTaskFormPending',
      'getTaskFormFeedback'
    ])
  },
  beforeCreate () {
    this.$store.dispatch('clearTaskFormError')
    this.$store.dispatch('clearTaskFormFeedback')
    this.$store.dispatch('getTask', { taskId: this.$route.params.id })
  },
  watch: {
    getTask: function (task) {
      this.taskForm.taskName = task.name
      this.taskForm.taskDescription = task.description
    }
  }
}
</script>
