<template>
  <div class="home">
    <div class="container text-center pt-5">
      <TaskForm />
      <TaskList />
    </div>
  </div>
</template>

<script>
import TaskForm from '@/views/HomePage/components/TaskForm/TaskForm.vue'
import TaskList from '@/views/HomePage/components/TaskList/TaskList.vue'
export default {
  name: 'HomePage',
  components: {
    TaskForm,
    TaskList
  }
}
</script>
