<template>
  <div class="container pt-5">
    <div class="sector">
      <form :class="getPending ? 'disabled-element' : ''" class="form" @submit.prevent="login">
        <h2 class="form__title">Login form</h2>
        <div>
          <p v-if="loginForm.localError" class="form__error mb-2">
            {{ loginForm.localError }}
          </p>
        </div>
        <div>
          <p v-if="getError" class="form__error mb-2"> {{ getError }} </p>
        </div>
        <div class="form__element">
          <label for="loginEmail" class="form__label">Email address</label>
          <input
            id="loginEmail"
            class="form__input form-control"
            type="email"
            placeholder="Enter email address"
            v-model.trim="loginForm.loginEmail"
            @blur="v$.loginForm.loginEmail.$touch()"
            :class=" [{'input-error' : v$.loginForm.loginEmail.$error }, getPending ? 'disabled-element' : '' ]"
            autocomplete="off"
            :disabled="getPending"
          />
          <div v-if="v$.loginForm.loginEmail.$error">
            <p v-if="v$.loginForm.loginEmail.required.$invalid" class="form__error">Email address is required</p>
            <p v-else-if="v$.loginForm.loginEmail.email.$invalid" class="form__error">Email address is invalid</p>
            <p v-else-if="v$.loginForm.loginEmail.maxLength.$invalid" class="form__error">Email address is limited to 50 characters</p>
          </div>
        </div>
        <div class="form__element">
          <label for="loginPassword" class="form__label">Password</label>
          <input
            id="loginPassword"
            class="form__input form-control"
            type="password"
            placeholder="Enter password"
            v-model.trim="loginForm.loginPassword"
            @blur="v$.loginForm.loginPassword.$touch()"
            :class=" [{'input-error' : v$.loginForm.loginPassword.$error }, getPending ? 'disabled-element' : '' ]"
            autocomplete="off"
            :disabled="getPending"
          />
          <div v-if="v$.loginForm.loginPassword.$error">
            <p v-if="v$.loginForm.loginPassword.required.$invalid" class="form__error">Password is required</p>
            <p v-else-if="v$.loginForm.loginPassword.minLength.$invalid" class="form__error">Passwords should be a minimum of 8 characters in length</p>
            <p v-else-if="v$.loginForm.loginPassword.maxLength.$invalid" class="form__error">Password is limited to 100 characters</p>
          </div>
        </div>
        <router-link to="/reset-password" class="form__link">Forgot your password?</router-link>
        <button :disabled="getPending" class="btn form__submit" type="submit">Log in</button>
      </form>
    </div>
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import { required, email, minLength, maxLength } from '@vuelidate/validators'
import { mapGetters } from 'vuex'
export default {
  name: 'LoginPage',
  setup () {
    return { v$: useVuelidate() }
  },
  data: () => {
    return {
      loginForm: {
        loginEmail: '',
        loginPassword: '',
        localError: null
      }
    }
  },
  validations () {
    return {
      loginForm: {
        loginEmail: {
          required: required,
          email: email,
          maxLength: maxLength(50)
        },
        loginPassword: {
          required: required,
          minLength: minLength(8),
          maxLength: maxLength(100)
        }
      }
    }
  },
  methods: {
    login () {
      this.$store.dispatch('clearError')
      this.v$.loginForm.$validate()
      if (!this.v$.loginForm.$invalid) {
        this.$store.dispatch('logIn', { email: this.loginForm.loginEmail, password: this.loginForm.loginPassword })
          .then(() => {
            this.loginForm.localError = null
          })
          .catch(() => {
            this.loginForm.localError = 'An error occurred, please try again later'
          })
      } else {
        this.loginForm.localError = 'Form validation failed'
      }
    }
  },
  computed: {
    ...mapGetters([
      'getError',
      'getPending'
    ])
  },
  beforeCreate () {
    this.$store.dispatch('clearError')
  }
}
</script>
