<template>
  <div class="container pt-5">
    <div class="sector">
      <form v-if="!getFeedback" :class="getPending ? 'disabled-element' : ''" class="form" @submit.prevent="updatePassword">
        <h2 class="form__title">Update password form</h2>
        <div>
          <p v-if="updatePasswordForm.localError" class="form__error mb-2">
            {{ updatePasswordForm.localError }}
          </p>
        </div>
        <div>
          <p v-if="getError" class="form__error mb-2"> {{ getError }} </p>
        </div>
        <div class="form__element">
          <label for="newPassword" class="form__label">Password</label>
          <input
            id="newPassword"
            class="form__input form-control"
            type="password"
            placeholder="Enter password"
            v-model.trim="updatePasswordForm.newPassword"
            @blur="v$.updatePasswordForm.newPassword.$touch()"
            :class=" [{'input-error' : v$.updatePasswordForm.newPassword.$error }, getPending ? 'disabled-element' : '' ]"
            autocomplete="off"
            :disabled="getPending"
          />
          <div v-if="v$.updatePasswordForm.newPassword.$error">
            <p v-if="v$.updatePasswordForm.newPassword.required.$invalid" class="form__error">Password is required</p>
            <p v-else-if="v$.updatePasswordForm.newPassword.minLength.$invalid" class="form__error">Passwords should be a minimum of 8 characters in length</p>
            <p v-else-if="v$.updatePasswordForm.newPassword.maxLength.$invalid" class="form__error">Password is limited to 100 characters</p>
          </div>
        </div>
        <div class="form__element">
          <label for="confirmNewPassword" class="form__label"
            >Confirm password</label
          >
          <input
            id="confirmNewPassword"
            class="form__input form-control"
            type="password"
            placeholder="Enter password again"
            v-model.trim="updatePasswordForm.confirmNewPassword"
            @blur="v$.updatePasswordForm.confirmNewPassword.$touch()"
            :class=" [{'input-error' : v$.updatePasswordForm.confirmNewPassword.$error }, getPending ? 'disabled-element' : '' ]"
            autocomplete="off"
            :disabled="getPending"
          />
          <div v-if="v$.updatePasswordForm.confirmNewPassword.$error">
              <p v-if="v$.updatePasswordForm.confirmNewPassword.required.$invalid" class="form__error mr-1">Password is required</p>
              <p v-if="v$.updatePasswordForm.confirmNewPassword.confirmPassword.$invalid" class="form__error">Given passwords do not match</p>
          </div>
        </div>
        <button :disabled="getPending" class="btn form__submit" type="submit">Update password</button>
      </form>
      <div v-else>
        <h2 class="form__title">Password updated successfully</h2>
        <p class="form__text mt-2">
          You have successfully changed your password. Now you can log in to your account with a new password.
        </p>
        <div class="text-center mt-4">
          <router-link to="/login" class="btn btn-success">Login page</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import { required, minLength, maxLength, sameAs } from '@vuelidate/validators'
import { mapGetters } from 'vuex'
export default {
  name: 'UpdatePasswordPage',
  setup () {
    return { v$: useVuelidate() }
  },
  data: () => {
    return {
      updatePasswordForm: {
        newPassword: '',
        confirmNewPassword: '',
        localError: null
      }
    }
  },
  validations () {
    return {
      updatePasswordForm: {
        newPassword: {
          required: required,
          minLength: minLength(8),
          maxLength: maxLength(100)
        },
        confirmNewPassword: {
          required: required,
          confirmPassword: sameAs(this.updatePasswordForm.newPassword)
        }
      }
    }
  },
  methods: {
    updatePassword () {
      this.$store.dispatch('clearError')
      this.v$.updatePasswordForm.$validate()
      if (!this.v$.updatePasswordForm.$invalid) {
        this.$store.dispatch('updatePassword', { token: this.$route.params.id, password: this.updatePasswordForm.newPassword, confirmPassword: this.updatePasswordForm.confirmNewPassword })
          .then(() => {
            this.updatePasswordForm.localError = null
          })
          .catch(() => {
            this.updatePasswordForm.localError = 'An error occurred, please try again later'
          })
      } else {
        this.updatePasswordForm.localError = 'Form validation failed'
      }
    }
  },
  computed: {
    ...mapGetters([
      'getError',
      'getPending',
      'getFeedback'
    ])
  },
  beforeCreate () {
    this.$store.dispatch('clearError')
    this.$store.dispatch('clearFeedback')
  }
}
</script>
