<template>
  <div class="sector sector--wide">
    <h2 class="form__title mb-3">Task list <span v-if="getTaskList">({{ getTaskList.length }})</span></h2>
    <div>
      <p v-if="getTaskListFeedback" class="form__success mb-2">
        Task has been deleted
      </p>
    </div>
    <div>
      <p v-if="localError" class="form__error mb-2">
        {{ localError }}
      </p>
    </div>
    <div>
      <p v-if="getTaskListError" class="form__error mb-2"> {{ getTaskListError }} </p>
    </div>
    <div v-if="!getTaskListPending && getTaskList">
      <div v-for="task in getTaskList" :key="task._id" class="task">
        <h2 class="task__name">{{ task.name }}</h2>
        <p class="task__description">{{ task.description }}</p>
        <router-link :to="{ name: 'EditTaskPage', params: { id: task._id }}" class="btn btn-warning me-2">Edit</router-link>
        <button @click.prevent="deleteTask(task._id)" class="btn btn-danger" type="button">Delete</button>
      </div>
    </div>
    <p v-else>No data</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'TaskList',
  data: () => {
    return {
      localError: null
    }
  },
  methods: {
    deleteTask (taskId) {
      this.$store.dispatch('deleteTask', { taskId: taskId })
        .then(() => {
          this.localError = null
        })
        .catch(() => {
          this.localError = 'An error occurred, please try again later'
        })
    }
  },
  computed: {
    ...mapGetters([
      'getTaskListError',
      'getTaskListPending',
      'getTaskList',
      'getTaskListFeedback'
    ])
  },
  beforeCreate () {
    this.$store.dispatch('clearTaskListError')
    this.$store.dispatch('clearTaskListFeedback')
    this.$store.dispatch('getTaskList')
  }
}
</script>
