<template>
  <div class="container pt-5">
    <div class="sector">
      <form v-if="!getFeedback" :class="getPending ? 'disabled-element' : ''" class="form" @submit.prevent="resetPassword">
        <h2 class="form__title">Reset password form</h2>
        <div>
          <p v-if="resetPasswordForm.localError" class="form__error mb-2">
            {{ resetPasswordForm.localError }}
          </p>
        </div>
        <div>
          <p v-if="getError" class="form__error mb-2"> {{ getError }} </p>
        </div>
        <div class="form__element">
          <label for="resetPasswordEmail" class="form__label">Email address</label>
          <input
            id="resetPasswordEmail"
            class="form__input form-control"
            type="email"
            placeholder="Enter email address"
            v-model.trim="resetPasswordForm.resetPasswordEmail"
            @blur="v$.resetPasswordForm.resetPasswordEmail.$touch()"
            :class=" [{'input-error' : v$.resetPasswordForm.resetPasswordEmail.$error }, getPending ? 'disabled-element' : '' ]"
            autocomplete="off"
            :disabled="getPending"
          />
          <div v-if="v$.resetPasswordForm.resetPasswordEmail.$error">
            <p v-if="v$.resetPasswordForm.resetPasswordEmail.required.$invalid" class="form__error">Email address is required</p>
            <p v-else-if="v$.resetPasswordForm.resetPasswordEmail.email.$invalid" class="form__error">Email address is invalid</p>
            <p v-else-if="v$.resetPasswordForm.resetPasswordEmail.maxLength.$invalid" class="form__error">Email address is limited to 50 characters</p>
          </div>
        </div>
        <button :disabled="getPending" class="btn form__submit" type="submit">Reset password</button>
      </form>
      <div v-else>
        <h2 class="form__title">Your password reset email has been sent</h2>
        <p class="form__text mt-2">
          Click the link in the email to create a new password. If you do not receive an email within 5 minutes, please check your spam folder or try again later.
        </p>
        <div class="text-center mt-4">
          <router-link to="/login" class="btn btn-success">Login page</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import { required, email, maxLength } from '@vuelidate/validators'
import { mapGetters } from 'vuex'
export default {
  name: 'ResetPasswordPage',
  setup () {
    return { v$: useVuelidate() }
  },
  data: () => {
    return {
      resetPasswordForm: {
        resetPasswordEmail: '',
        localError: null
      }
    }
  },
  validations () {
    return {
      resetPasswordForm: {
        resetPasswordEmail: {
          required: required,
          email: email,
          maxLength: maxLength(50)
        }
      }
    }
  },
  methods: {
    resetPassword () {
      this.$store.dispatch('clearError')
      this.v$.resetPasswordForm.$validate()
      if (!this.v$.resetPasswordForm.$invalid) {
        this.$store.dispatch('resetPassword', { email: this.resetPasswordForm.resetPasswordEmail })
          .then(() => {
            this.resetPasswordForm.localError = null
          })
          .catch(() => {
            this.resetPasswordForm.localError = 'An error occurred, please try again later'
          })
      } else {
        this.resetPasswordForm.localError = 'Form validation failed'
      }
    }
  },
  computed: {
    ...mapGetters([
      'getError',
      'getPending',
      'getFeedback'
    ])
  },
  beforeCreate () {
    this.$store.dispatch('clearError')
    this.$store.dispatch('clearFeedback')
  }
}
</script>
