<template>
  <div>
    <div class="container text-center pt-5">
      <h1 class="mb-5">Profile Page</h1>
      <div class="card">
        <h5 class="card-header">User data</h5>
        <div v-if="!getUserPending && getUser" class="card-body">
          <p class="card-text">_id: <span class="badge bg-light text-dark">{{ getUser._id }}</span></p>
          <p class="card-text">name: <span class="badge bg-light text-dark">{{ getUser.name }}</span></p>
          <p class="card-text">e-mail: <span class="badge bg-light text-dark">{{ getUser.email }}</span></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ProfilePage',
  computed: {
    ...mapGetters([
      'getUser',
      'getUserPending'
    ])
  }
}
</script>
